{% extends 'delySantiago/base.html' %}
{% load static %}
{% block css %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'delySantiago/css/login.css' %}">
{% endblock %}
{% block contenido %}
<div class="login-form">
    <h1>REGISTRO</h1>
    <form id="formulario1" method="POST">
        <!-- USERNAME INPUT -->
        <label for="id_txtNombre">Usuario</label>
        <input type="text" name="txtnombre" id="id_txtNombre" placeholder="Introduzca su usuario" class="requiered">

        <!-- PASSWORD INPUT -->
        <label for="id_txtContrasena">Contraseña</label>
        <input type="password" name="txtContrasena" id="id_txtContrasena" placeholder="Introduzca su contraseña">

        <!-- REPETIR PASSWORD INPUT -->
        <label for="id_txtRepetirContrasena">Repetir contraseña</label>
        <input type="password" name="txtRepetirContrasena" id="id_txtRepetirContrasena"
            placeholder="Introduzca su contraseña">

        <!-- EMAIL INPUT -->
        <label for="id_txtEmail">Email</label>
        <input type="text" name="txtEmail" id="id_txtEmail" placeholder="Introduzca su usuario" class="requiered">

        <!-- REPETIR EMAIL INPUT -->
        <label for="id_txtRepetirEmail">Repetir Email</label>
        <input type="text" name="txtRepetirEmail" id="id_txtRepetirEmail" placeholder="Introduzca su usuario"
            class="requiered">

        <!-- BUTTON LOG IN -->
        <input type="submit" value="Registrar">
        <!--------------->
        <a href="{% url 'login' %}">Login</a>
    </form>
</div>
{% block js %}
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<!-- JQuery Validate -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
crossorigin="anonymous"></script>
<!-- JS -->
<script src="{% static 'delySantiago/js/vregistro.js' %}"></script>
{% endblock %}
{% endblock %}